<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Albums</title>
    <link rel="stylesheet" href="../style/albums.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>
<body>
    

    <div class="container">
        <nav>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>

            </div>
            <a href="index.html"><img src="../imgs/logosmall.png" class="logo" alt="Logo"></a>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#" class="text-muted">Albums</a></li>
                <li><a href="live.html">Live</a></li>
                <li><a href="#">Contact</a></li>


            </ul>

        </nav>
        <div class="albums-container">

        <h1 class="albums-header">Albums</h1>

            <div class="albums-wrapper">
            <div class="box-album album-1 grow"><img src="../imgs/album1.png" class="album-image" alt=""><h4>Album Title</h4><img src="../imgs/play.png" class="play"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, magnam!</p>  <button class="btn-spotify2"><a href="#">Listen on </a><i class="fab fa-spotify fa-2x"></i></button></div>

            <div class="box-album album-2 grow"><img src="../imgs/album2.png" class="album-image" alt=""><h4>Album Title</h4><img src="../imgs/play.png"class="play" ><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, magnam!</p>  <button class="btn-spotify2"><a href="#">Listen on </a><i class="fab fa-spotify fa-2x"></i></button></div>

            <div class="box-album album-3 grow"><img src="../imgs/album3.png" class="album-image" alt=""><h4>Album Title</h4><img src="../imgs/play.png" class="play"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, magnam!</p>  <button class="btn-spotify2"><a href="#">Listen on </a><i class="fab fa-spotify fa-2x"></i></button></div>

            <div class="box-album album-4 grow"><img src="../imgs/album4.png" class="album-image" alt=""><h4>Album Title</h4><img src="../imgs/play.png" class="play"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, magnam!</p>  <button class="btn-spotify2"><a href="#">Listen on </a><i class="fab fa-spotify fa-2x"></i></button></div>

            <div class="box-album album-5 grow"><img src="../imgs/album5.png" class="album-image" alt=""><h4>Album Title</h4><img src="../imgs/play.png" class="play"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, magnam!</p>  <button class="btn-spotify2"><a href="#">Listen on </a><i class="fab fa-spotify fa-2x"></i></button></div>

        </div>
</div>

<div class="album-details-container">
<div class="album-details">

    <div class="album-cover">
        <img src="../imgs/audience-band-celebration-1765712.jpg" alt="">
        <div class="album-body">
            <div>
            <img src="../imgs/det1.png" alt="">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias nesciunt rem quod minus necessitatibus eos vitae quo beatae accusantium exercitationem iusto ut labore, repudiandae excepturi. Harum voluptas quidem quos.
            </p>
        </div>
        </div>
    </div>

    <div class="best-price2">
            <div>
                <h4>Best Price</h4>
                <h1>$20</h1>
                <p class="best-price2-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, nam.
                </p>
            </div>
            <div><img src="../imgs/buy1.png" class="buy-img"alt=""></div>
            <div class="button-box"><button>BUY NOW</button></div>
        </div>
      
</div>


<div class="album-details">

        <div class="album-cover">
            <img src="../imgs/man2.png" alt="">
            <div class="album-body">
                <div>
                <img src="../imgs/det2.png" alt="">
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias nesciunt rem quod minus necessitatibus eos vitae quo beatae accusantium exercitationem iusto ut labore, repudiandae excepturi. Harum voluptas quidem quos.
                </p>
            </div>
            </div>
        </div>
    
        <div class="best-price2">
                <div>
                    <h4>Best Price</h4>
                    <h1>$20</h1>
                    <p class="best-price2-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, nam.
                    </p>
                </div>
                <div><img src="../imgs/buy2.png" class="buy-img"alt=""></div>
                <div class="button-box"><button>BUY NOW</button></div>
            </div>
          
    </div>

    <div class="album-details">

            <div class="album-cover">
                <img src="../imgs/venice.jpg" alt="">
                <div class="album-body">
                    <div>
                    <img src="../imgs/det3.png" alt="">
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias nesciunt rem quod minus necessitatibus eos vitae quo beatae accusantium exercitationem iusto ut labore, repudiandae excepturi. Harum voluptas quidem quos.
                    </p>
                </div>
                </div>
            </div>
        
            <div class="best-price2">
                    <div>
                        <h4>Best Price</h4>
                        <h1>$20</h1>
                        <p class="best-price2-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, nam.
                        </p>
                    </div>
                    <div><img src="../imgs/buy3.png" class="buy-img"alt=""></div>
                    <div class="button-box"><button>BUY NOW</button></div>
                </div>
              
        </div>

        <div class="album-details">

                <div class="album-cover">
                    <img src="../imgs/artist-cap-close-up-1460037.jpg" alt="">
                    <div class="album-body">
                        <div>
                        <img src="../imgs/det4.png" alt="">
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias nesciunt rem quod minus necessitatibus eos vitae quo beatae accusantium exercitationem iusto ut labore, repudiandae excepturi. Harum voluptas quidem quos.
                        </p>
                    </div>
                    </div>
                </div>
            
                <div class="best-price2">
                        <div>
                            <h4>Best Price</h4>
                            <h1>$20</h1>
                            <p class="best-price2-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, nam.
                            </p>
                        </div>
                        <div><img src="../imgs/buy4.png" class="buy-img"alt=""></div>
                        <div class="button-box"><button>BUY NOW</button></div>
                    </div>
                  
            </div>

            <div class="album-details">

                    <div class="album-cover">
                        <img src="../imgs/newtrack2.jpg" alt="">
                        <div class="album-body">
                            <div>
                            <img src="../imgs/det5.png" alt="">
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias nesciunt rem quod minus necessitatibus eos vitae quo beatae accusantium exercitationem iusto ut labore, repudiandae excepturi. Harum voluptas quidem quos.
                            </p>
                        </div>
                        </div>
                    </div>
                
                    <div class="best-price2">
                            <div>
                                <h3>Best Price</h3>
                                <h1>$20</h1>
                                <p class="best-price2-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, nam.
                                </p>
                            </div>
                            <div><img src="../imgs/buy5.png" class="buy-img"alt=""></div>
                            <div class="button-box"><button>BUY NOW</button></div>
                        </div>                      
                    </div>
                </div>
            </div>


            <div class="reviews-container">

            <h1 class="reviews-heading">Reviews</h1>
            <div class="reviews-wrapper">
                
                    <div class="postbox">
                        <div class="postbox-top">
                            <ul>
                                <li><img src="../imgs/det1.png" class="postbox-img-top"></li>
                                <li class="postbox-top-det">Name Surname</li>
                                <li class="postbox-top-det">1 h ago</li>
                            </ul>
                        </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <div class="review-images">
                            <img src="../imgs/postbox1.png" class="postbox-bigimg" alt="">
                            <img src="../imgs/headphones.jpg" class="postbox-bigimg-hidden hide" alt="">
                        </div>
                            <div class="postbox-bottom">
                                <ul>
                                    <li><i class="heart-icon fas fa-heart fa-2x"></i><span class="hearts">609</span></li>
                                    <li><i class="comment-icon far fa-comment-alt fa-2x"></i><span class="comments"> 120</span></li>
                                    <li><span class="comment">Comment</span></li>
                                </ul>
                            </div> 
                        </div>

                    <div class="middle-review">
                        <div>
                            <img src="../imgs/middle-rev-img.png" class="middle-rev-img">
                            <div class="middle-review-post-body">
                            <h3 class="middle-review-header">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</h3>
                            
                            <div class="middle-review-post-bottom">
                                <ul class="middle-review-post-bottom-list">
                                    <li><img src="../imgs/clock.png" class="clock"> 1 h ago</li>
                                    <li>Last Update<img src="../imgs/arrow.png" class="arrow"></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="postbox">
                            <div class="postbox-top">
                                <ul>
                                    <li><img src="../imgs/det1.png" class="postbox-img-top"></li>
                                    <li class="postbox-top-det">Name Surname</li>
                                    <li class="postbox-top-det">1 h ago</li>
                                </ul>
    
                            </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                                <img src="../imgs/postbox2.png" class="postbox-bigimg" alt="">
                                <div class="postbox-bottom">
                                    <ul>
                                        <li><i class="heart-icon fas fa-heart fa-2x"></i><span class="hearts">609</span></li>
                                        <li><i class="comment-icon far fa-comment-alt fa-2x"></i><span class="comments"> 120</span></li>
                                        <li><span class="comment">Comment</span></li>
                                    </ul>
                                </div> 
                        </div>


                    <div class="middle-review-2">
                            <div class="middle-review-img-1">
                            </div>
                            <div class="middle-review-img-2">
                                    </div>

                        <div class="middle-review-2-right">
                                <h3 class="review-title">"Awesome"</h3>
                                <h4 class="review-subtitle">"A Great Comeback"</h4>
                                <p class="review-title">4/5</p>
                                <ul class="star-wrapper">
                                        <li class="star-item star-item-1"><i class="fas fa-star fa-2x"></i></li>
                                        <li class="star-item star-item-1"><i class="fas fa-star fa-2x"></i></li>
                                        <li class="star-item star-item-1"><i class="fas fa-star fa-2x"></i></li>
                                        <li class="star-item star-item-1"><i class="fas fa-star fa-2x"></i></li>
                                        <li class="star-item star-item-1"><i class="fas fa-star fa-2x"></i></li>
                                    </ul>
                        </div>
                    </div>

                    <div class="middle-post3">
                        <h2>"Brilliant"</h2>
                        <h2>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</h2>
                        <button class="btn-read-review grow">Read Review</button>

                    </div>

                    <div class="middle-post4">
                            <h2>"Exceptional in Live"</h2>
                            <ul class="star-wrapper">
                                    <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                    <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                    <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                    <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                    <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                </ul>
                            <h2>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</h2>
    
                        </div>

                        <div class="column">
                                <div class="preview">
                                    <h1 class="preview-header">"Great Experimentation!!!"</h1>
                                    <h3 class="preview-subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, officia!</h3>
                                    <ul class="star-wrapper">
                                        <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                        <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                        <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                        <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                        <li class="star-item star-item-2"><i class="fas fa-star fa-2x"></i></li>
                                    </ul>
                                    <button class="btn-read-review grow">Read Review</button>
                            </div>
                        </div>
                           

                         <div class="column">
                        </div>

                        <div class="postbox postbox-3">
                            <div class="postbox-top">
                                <ul>
                                    <li><img src="../imgs/det1.png" class="postbox-img-top"></li>
                                    <li class="postbox-top-det">Name Surname</li>
                                    <li class="postbox-top-det">1 h ago</li>
                                </ul>
    
                            </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor #incididunt ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                                <img src="../imgs/postbox3.png" class="postbox-bigimg" alt="">
                                <div class="postbox-bottom">
                                    <ul>
                                        <li><i class="heart-icon fas fa-heart fa-2x"></i><span class="hearts">609</span></li>
                                        <li><i class="comment-icon far fa-comment-alt fa-2x"></i><span class="comments"> 120</span></li>
                                        <li><span class="comment">Comment</span></li>
                                    </ul>
                                </div> 
                        </div>


                                <div class="bottom-big-img-2">
                                    <div class="card-left"></div>
                                    <div class="card-right">
                                        <h3 class="review-title">Great Album</h3>
                                        <p class="bottom-big-img-2-card-right-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, vero.</p>
                                        <img src="../imgs/adult-cap-dark-838696 (1).jpg" class="card-right-img">
                                    </div>

                                </div>

                </div>



            </div>
        </div>
        <a href="../../index.html" class="btn-back-to-portfolio">&larr;Back to portfolio page</a>


            <footer class="dark-footer">
                    <div class="grid-footer">
                        <div>
                        <img src="../imgs/logosmall.png">
                    <h6>All Rights Registered</h6>
                </div>
                <div class="social">
                    <h5>Follow Us</h5>
                    <i class="fab fa-spotify fa-2x social-icons"></i>
                    <i class="fab fa-facebook-square fa-2x social-icons"></i>
                    <i class="fab fa-instagram fa-2x social-icons"></i>
                    <i class="fab fa-twitter fa-2x social-icons"></i>
                    <i class="fab fa-medium fa-2x social-icons"></i>
                </div>
                    <div>
                    <h6 class="terms">Terms of Use</h6>
                </div>
                </div>
                </footer>
            </div>
        </div>
            <script src="../js/main.js"></script>
    </body>
    </html>
