<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="../style/contact.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>
<body>
            <nav>
                    <div class="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
        
                    </div>
                    <a href="index.html"><img src="../imgs/logosmall.png" class="logo" alt="Logo"></a>
                    <ul class="nav-links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html" class="grow">About</a></li>
                        <li><a href="albums.html" class="grow">Albums</a></li>
                        <li><a href="live.html" class="grow">Live</a></li>
                        <li><a href="#" class="grow">Contact</a></li>
        
        
                    </ul>
        
                </nav>

                <main>

                    <div class="form-container">
                        <div class="form-container-top">
                                <h1 class="form-header">Subscribe to Our Newsletter!</h1>

                        </div>
                        <form>
                            <div class="form-left">
                            <label for ="firstname">First Name</label>
                            <input class="input" 
                            type="text" 
                            id="firstname"
                            name="firstname"
                            placeholder="ex Jon">
                            </br>
                        <br/>


                            <label for ="lastname">Last Name</label>
                            <input class="input"
                            type="text" 
                            id="lastname"
                            name="lastname"
                            placeholder="ex Doe">
                            </br>
                        </br>

                            <label for ="email">Email</label>
                            <input class="input"
                            type="email" 
                            name="email"
                            id="email"
                            placeholder="ex sample@email.com">
                            <br/>
                            <br/>


                            <label for ="dateofbirth">Date of Birth</label>
                            <input class="input" 
                            id="dateofbirth" 
                            name="dateofbirth"
                            type="date">

                            <h3 class="form-small-header-white">Gender</h3>

                            <div class="radio-wrapper">
                                <input class="radio" type="radio" id="male" name="gender">
                                <label class="label label-white" for="male">Male</label>

                                <input class="radio" type="radio" id="female" name="gender">
                                <label class="label label-white" for="female">Female</label>
                
                                <input class="radio" type="radio" id="other" name="gender">
                                <label class="label label-white" for="other">Other</label>
                        </div>
                        </div>



                        <div class="form-right">

                            <div class="checkbox-container">
                            <h3 class="form-small-header">Which of these streaming platform do you currently use?</h3>

                            <div class="checkbox-wrapper">

                            <input class="checkbox"
                            type="checkbox"
                            name="spotify"
                            id="spotify">
                            <label class="thick-label"for ="spotify">Spotify</label>

                            <input class="checkbox"
                            type="checkbox"
                            name="soundcloud"
                            id="soundcloud">
                            <label class="thick-label"for ="soundcloud">SoundCloud</label> 
                            
                            <input class="checkbox"
                            type="checkbox"
                            name="bandcamp"
                            id="bandcamp">
                            <label class="thick-label"for ="bandcamp">Bandcamp</label>

                            <input class="checkbox"
                            type="checkbox"
                            name="applemusic"
                            id="applemusic">
                            <label class="thick-label"for ="applemusic">Apple Music</label>
                        </div>
                    </div>

                    <div class="user-container">
                        <h3 class="form-small-header">What type of user are you?</h3>
                        <div class="radio-wrapper">
                        <input type="radio"
                        class="radio"
                        name="user"
                        id="premium">
                        <label class="thick-label"for ="premium">Premium</label> 

                        <input type="radio"
                        class="radio"
                        name="user"
                        id="free">
                        <label class="thick-label"for ="free">Free</label> 

                        <input type="radio"
                        class="radio"
                        name="user"
                        id="both">
                        <label class="thick-label"for ="both">Both</label> 
                    </div>
                </div>

                        </div>
                            
                        <div class="button-container">
                            <button class="btn-subscribe">Subscribe</button></div>

                        </form>
                        <div class="form-container-bottom"></div>

                    </div>


                </main>

                <a href="../../index.html" class="btn-back-to-portfolio">&larr;Back to portfolio page</a>

<footer class="dark-footer">
    <div class="grid-footer">
        <div>
        <img src="../imgs/logosmall.png">
    <h6>All Rights Registered</h6>
</div>
<div class="social">
    <h5>Follow Us</h5>
    <i class="fab fa-spotify fa-2x social-icons"></i>
    <i class="fab fa-facebook-square fa-2x social-icons"></i>
    <i class="fab fa-instagram fa-2x social-icons"></i>
    <i class="fab fa-twitter fa-2x social-icons"></i>
    <i class="fab fa-medium fa-2x social-icons"></i>
</div>
    <div>
    <h6 class="terms">Terms of Use</h6>
</div>
</div>
</footer>
</div>
</div>


                <script src="../js/main.js"></script>
</body>
</html>