<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>
<body>
    
            <nav>
                    <div class="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
        
                    </div>
                    <div class="logobox">
                    <a href="index.html"><img src="../imgs/logosmall.png" class="logo" alt="Logo"></a>
                </div>
                    <ul class="nav-links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html" class="grow">About</a></li>
                        <li><a href="albums.html" class="grow">Albums</a></li>
                        <li><a href="live.html" class="grow">Live</a></li>
                        <li><a href="#" class="grow">Contact</a></li>
        
        
                    </ul>
        
                </nav>

        <div class="front-container">
            <div class="front-header">
                <div><img src="../imgs/EVENFLOW@2x.png" class="band-title" alt=""></div>
                <div><h2>New EP Out Now</h2></div>
                <button class="btn-spotify">
                    <ul class="listen-spt">
                        <li></li>
                    <a href="#">
                    
                    Listen on Spotify</a><li><i class="fab fa-spotify fa-3x"></i></li>
                </ul>
            </button>
           
            </div>
        </div>
    </div>

    <!-- New Album -->
    <div class="container-album">
<h2>New Album</h2>
<div class="album">
    <div class="card-container">
        <img src="../imgs/applause-audience-band-761543.jpg" class="card-img-big" alt="">
        <div class="card-body">
            <img src="../imgs/rec3.png" class="card-img-small"alt="">
            <h6 class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatibus, natus est ducimus dolorem maiores!
            </h6>
        </div>
        
    </div>

    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ipsam voluptatem, veniam esse eligendi consequatur, quae aspernatur autem consectetur accusantium dolor, at nemo incidunt? Amet labore ullam, corrupti beatae maxime dolor nesciunt pariatur cumque deleniti unde sapiente eaque tenetur architecto. Nulla tempora voluptatem ab? Similique, necessitatibus eos consequuntur distinctio facere voluptatem aperiam. Esse doloribus ducimus cumque temporibus vero molestias adipisci maiores, debitis repellat architecto repudiandae doloremque dignissimos nobis deserunt aliquam.</p></div>

    <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati blanditiis officiis facilis sequi cupiditate laudantium incidunt animi alias. Amet cumque molestiae repudiandae eius quia, accusantium saepe error nesciunt quas architecto, inventore rerum neque corrupti! Illum quo ex quas cumque. Quibusdam, deleniti quidem. Assumenda ex exercitationem, porro corporis, iure beatae, dolore doloremque ducimus vel veniam asperiores in ad voluptatibus ipsam? Harum, natus. Libero impedit iusto a quaerat optio quis temporibus assumenda.</p></div>
</div>
</div>

<div class="new-tracks-container">
<h2 class="tracks-headline">New Tracks</h2>

<div class="new-tracks">

    <div class="best-price">
        <div>
            <h4>Best Price</h4>
            <h1>$20</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, nam.
            </p>
        </div>
        <div><img src="../imgs/adults-artist-artists-2167150.png" class="buy-img"alt=""></div>
        <div class="button-box"><button>BUY NOW</button></div>
    </div>

    <div class="album-box album-box-1">   
        <img src="../imgs/albumpic.png" class="albumimage1"alt="">
        <h5 class="track-header">Track 1</h5>
        <div class="line2"></div>
        <p class="track-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione velit est quaerat soluta quidem, officiis et ea cupiditate laudantium sint harum placeat laborum incidunt omnis? Corporis rem natus quibusdam explicabo.

            </p>
            <div class="line2"></div>
        <button class="track-btn">PLAY</button>
        
    </div>
    <div class="album-box album-box-2">   
        <img src="../imgs/albumpic2.png" class="albumimage2"alt="">
        <h5 class="track-header">Track 2</h5>
        <div class="line2"></div>
        <p class="track-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione velit est quaerat soluta quidem, officiis et ea cupiditate laudantium sint harum placeat laborum incidunt omnis? Corporis rem natus quibusdam explicabo.

            </p>
            <div class="line2"></div>

        <button class="track-btn">PLAY</button>
        

    </div>
    <div class="album-box album-box-3">   
        <img src="../imgs/albumpic3.png" class="albumimage3"alt="">
        <h5 class="track-header">Track 3</h5>
        <div class="line2"></div>
        <p class="track-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione velit est quaerat soluta quidem, officiis et ea cupiditate laudantium sint harum placeat laborum incidunt omnis? Corporis rem natus quibusdam explicabo.

            </p>
            <div class="line2"></div>

        <button class="track-btn">PLAY</button>

    </div>
    
</div>
</div>


<div class="dark-container">
    <div class="icon-container">
        <div class="icon-nested">
            <div class="icon"><img src="../imgs/cloud.png" class="icon1" alt=""></div>
            <p class="icon-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, doloremque culpa! Dolor, molestias expedita! Accusantium dicta aperiam officia corporis officiis.</p>
        </div>
        <div class="icon-nested">
            <div class="icon"><img src="../imgs/microphone.png" class="icon2" alt=""></div>
            <p class="icon-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea odit ducimus minus consequuntur facilis, et sint magnam ab necessitatibus expedita?</p>
        </div>
        <div class="icon-nested">
            <div class="icon"><img src="../imgs/mobile.png" class="icon3" alt=""></div>
            <p class="icon-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error adipisci cupiditate ex labore aliquam. Omnis quis accusantium error facere distinctio.</p>
        </div>
    </div>
</div>

<section class="dates-container">
<h4 class="dates">Upcoming Dates</h4>
<div class="dates-box1">
    <div class="nested-box1">
        <div>
            <h6>Fri, Apr 12</h6>
            <ul>
                <li>The Ballroom</li>
                <li>Private Show</li>
                <li>Amsterdam</li>
            </ul>
        </div>
<div>
        <img src="../imgs/imgdates1.png" class="dates-image">
</div>
<div class="nested-buttons">
    <div>    <button class="dates-btn dates-btn1">Get Tickets</button>
    </div>
<div>    <button class="dates-btn dates-btn2">Notify Me</button>
</div>    

</div>
            
        </div>
    </div>

    <div class="dates-box2">
            <div class="nested-box1">
                <div>
                    <h6>Fri, Apr 13</h6>
                    <ul>
                        <li>The Circus</li>
                        <li>Private Show</li>
                        <li>Helsinki</li>
                    </ul>
                </div>
        <div>
                <img src="../imgs/imgdates2.png" class="dates-image">
        </div>
        <div class="nested-buttons">
            <div>    <button class="dates-btn dates-btn1">Get Tickets</button>
            </div>
        <div>    <button class="dates-btn dates-btn2">Notify Me</button>
        </div>    
        
        </div>
                    
                </div>
            </div>
        
</div>
</section>

<div class="posts-container">
<div class="posts-wrapper">
    <div class="post">
        <img src="../imgs/img-post1.png">
        <div class="post-body">

        <h5>Jane Doe</h5>
        <h6>Blogger</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iste autem, esse sequi quasi reprehenderit minus repellat ipsum quas, fuga, recusandae culpa perspiciatis? Est nihil vitae vel error nostrum quod quis similique, alias ducimus! Possimus!

        </p>
        <ul class="like-comment">
            <li class="grow">Like</li>
            <li class="grow">Comment</li>
        </ul>
        <ul class="post-icons">
            <li><img src="../imgs/heart.svg" class="post-icons-img-1" alt=""></li>
            <li><img src="../imgs/message.svg" class="post-icons-img-2" alt=""></li>
        </ul>

    </div>

    </div>
    <div class="post">
            <img src="../imgs/img-post2.png">
            <div class="post-body">
    
            <h5>Matt Smith</h5>
            <h6>Music Journalist</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, eveniet quos. Itaque soluta vitae commodi ipsam maxime illum! Repellat animi est necessitatibus in laborum explicabo itaque facere quos! Repellendus ducimus numquam similique a, fugiat inventore?
    
            </p>
            <ul class="like-comment">
                <li class="grow">Like</li>
                <li class="grow">Comment</li>
    
            </ul>
            <ul class="post-icons">
                    <li><img src="../imgs/heart.svg" class="post-icons-img-1" alt=""></li>
                    <li><img src="../imgs/message.svg" class="post-icons-img-2" alt=""></li>
                </ul>
    
        </div>
    
        </div>
        <div class="post">
                <img src="../imgs/img-post3.png">
                <div class="post-body">
        
                <h5>Cloe Adams</h5>
                <h6>Singer</h6>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates totam cumque ullam quo consectetur minus quaerat earum adipisci aliquam, fuga eos corrupti placeat eum numquam quae dolor vero dicta? Harum ratione tenetur voluptatum velit repudiandae?
        
                </p>
                <ul class="like-comment">
                    <li class="grow">Like</li>
                    <li class="grow">Comment</li>
        
                </ul>
                <ul class="post-icons">
                        <li><img src="../imgs/heart.svg" class="post-icons-img-1" alt=""></li>
                        <li><img src="../imgs/message.svg" class="post-icons-img-2" alt=""></li>
                    </ul>
        
            </div>
        
            </div>
        </div>
</div>

<div class="listen-now">
    <h2>New EP - Loosely</h2>
    <div><button class="btn-listen">Listen Now</button></div>
</div>

<div class="rec-map container">
<div class="rec-map-wrapper">
    <div class="nested-rec">
        
        <div class="rec-box-imagebox"><img src="../imgs/rec1.png" alt=""></div>
        <div><p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt molestias repudiandae modi amet optio iure."</p><br><p><strong>Brad O'Brien</strong></p></div>
    
        <div class="rec-box-imagebox"><img src="../imgs/rec2.png" alt=""></div><div><p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt molestias repudiandae modi amet optio iure."</p><br><p><strong>Shelley Wilson</strong></p></div>

        <div class="rec-box-imagebox"><img src="../imgs/rec3.png" alt=""></div><div><p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt molestias repudiandae modi amet optio iure."</p><br><p><strong>Mike Connor</strong></p></div>
    </div>
    <div class="nested-map">
        <img src="../imgs/map.png" alt="">
    
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero quasi cumque veniam possimus modi voluptatem alias nisi, omnis enim minus aut sed perferendis labore, debitis perspiciatis sit quos. Dignissimos, sunt!<br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, doloremque?</p>
</div>
</div>
</div>

<div class="back-to-portfolio-box">
        <a href="../../index.html" class="btn btn-back-to-portfolio">&larr;Back to portfolio page</a>

</div>
        <footer class="dark-footer">
            <div class="grid-footer">
                <div>
                <img src="../imgs/logosmall.png">
            <h6>All Rights Registered</h6>
        </div>
        <div class="social">
            <h5>Follow Us</h5>
            <i class="fab fa-spotify social-icons"></i>
            <i class="fab fa-facebook-square social-icons"></i>
            <i class="fab fa-instagram social-icons"></i>
            <i class="fab fa-twitter social-icons"></i>
            <i class="fab fa-medium social-icons"></i>
        </div>
            <div>
            <h6 class="terms">Terms of Use</h6>
        </div>
        </div>
        </footer>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="../js/main.js"></script>
</body>
</html>