<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Live</title>
    <link rel="stylesheet" href="../style/live.css">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>
<body>
            <nav>
                    <div class="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
        
                    </div>
                    <a href="index.html"><img src="../imgs/logosmall.png" class="logo" alt="Logo"></a>
                    <ul class="nav-links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html" class="grow">About</a></li>
                        <li><a href="albums.html" class="grow">Albums</a></li>
                        <li><a href="#" class="grow">Live</a></li>
                        <li><a href="#" class="grow">Contact</a></li>
        
        
                    </ul>
        
                </nav>


                <!-- live hero section -->
                <div class="live-front-container">

                    <div class="live-front">
                            <div><img src="../imgs/live.jpg" class="live-front-image" alt="">
                            </div>

                        <div class="concert-right-container">
                            <div class="concert-right-box">
                        <h3>Our live concerts</h3>
                        <p class="live-front-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic architecto asperiores veritatis blanditiis, ipsa error perspiciatis. Optio delectus, accusamus quam, vero cupiditate eos quos officiis ut nulla error minus, magni deserunt porro a obcaecati molestiae impedit cum tempora! Iste corporis aut, illo ex placeat quasi, rerum in, accusamus eligendi quam cupiditate ducimus eveniet fuga sit libero. Culpa explicabo veniam debitis. Expedita corporis id, distinctio illum officia at consequatur eligendi porro!</p>
                        <div class="comments-line">
                            <ul>
                                <li>Comments</li>
                                <li class="share">Share</li>
                                <li class="more">More</li>
                            </ul>
                        </div>
                            <div class="response">                       
                                     <h6>Write a Response...</h6>
                            </div>
                        </div>

                            <div class="body-front-live">
                                <div class="body-front-top">
                                    <ul>
                                        <li><img src="../imgs/livethumb.png" class="live-thumb-image"></li>
                                        <li class="name-last">Name Surname</li>
                                        <li>1 h ago</li>
                                    </ul>
                                </div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae eaque reiciendis beatae corporis voluptate architecto perferendis blanditiis minus alias? Cum dignissimos architecto libero fugit reprehenderit saepe excepturi nemo itaque sed.</p>


                            </div>
                        </div>

                    </div>
                    </div>

              


                <!-- live-posts one -->
                <div class="live-posts1-container">

                    <div class="live-posts-cards">

                        <div class="live-card1">
                            <img src="../imgs/ribbon.png" class="ribbon"> 
                            <h5>Lorem ipsum.</h5>
                            <img src="../imgs/livecard1.png">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                            <div class="line-live"></div>
                            <h5>Lorem ipsum.</h5>
                            <h5>Officia deserunt.</h5>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                            <div class="line-live"></div>
                            <h5>Lorem ipsum.</h5>
                            <h5>Officia deserunt.</h5>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                            <div class="line-live"></div>
                        </div>

                        <div class="live-card-wrapper">

                        <div class="live-card">
                            <div class="card-top card2top-container">
                                <div class ="card2top2-top">
                                    <ul class="live-card-list">
                                        <li class="quicklor">Lorem Ipsum</li>
                                        <li><img src="../imgs/clock.png"></li>
                                        <li class="hour">1 hr ago</li>
                                    </ul>
                                </div>
                                <div class="card-top-bottom">
                                <h5 class="card-top-headline">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</h5>
                                <p class="card-top-paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                            </div>
                        </div>

                            <div class="live-card-body">
                                <ul class="live-card-list">
                                    <li><img src="../imgs/buy2.png" alt=""></li>
                                    <li class="live-card2-3text">by Elina Connor</li>
                                </ul>
                        </div>
                        </div>

                        <div class="live-card live-card3">
                            <div class="card-top card3top-container">
                                <div class ="card3top3-top">
                                    <ul class="live-card-list">
                                        <li class="quicklor">Lorem Ipsum</li>
                                        <li><img src="../imgs/clock.png"></li>
                                        <li class="hour">1 hr ago</li>

                                    </ul>
                                </div>
                                
                              
                            </div>

                            <div class="live-card-body">
                                <ul class="live-card-list">
                                    <li><img src="../imgs/buy3.png" alt=""></li>
                                    <li class="live-card3-3text">by Name Surname</li>
                                </ul>
                        </div>
                        </div>
                    </div>

                        <div class="live-card-wrapper">

                <div class="live-card live-card4">
                        <div class="card-top card4top-container">
                            <div class ="card-top card4top4-top">
                                    <ul class="live-card-list">
                                    <li class="quicklor">Last Comment</li>
                                    <li><img src="../imgs/clock.png"></li>
                                    <li class="hour">1 hr ago</li>
            
                        </ul>
                       <div class="card-top-bottom">
                               <h5 class="card-top-headline">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</h5>
                            <p class="card-top-paragraph">Excepteur sint occaecat cupinon proident, sunt in culpa qui officia deserunt mollit anim.</p>
                          </div>
                      </div>

                                          
                 </div>
            
                  <div class="live-card-body">
                     <ul class="live-card-list">
                        <li><img src="../imgs/buy5.png" alt=""></li>
                          <li class="live-card4-4text">by Name Surname</li>
                       </ul>
               </div>
               </div>
               <div class="live-card live-card5">
                       <div class="card-top card5top-container">
                              <ul class="live-card-list">
                                <li class="quicklor">Lorem Ipsum</li>
                                <li><img src="../imgs/clock.png"></li>
                                <li class="hour">1 hr ago</li>
                             </ul>
                             
                             <div class="card-top-bottom">
                             <p class="card-top-paragraph">"Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim."</p>
                                <h5 class="card-top-headline">"Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim."</h5>
                             </div>
                                        </div>

                
                                            <div class="live-card-body">
                                                <ul class="live-card-list">
                                                    <li><img src="../imgs/det2.png" alt=""></li>
                                                    <li class="live-card5-5text">by Name Surname</li>
                                                </ul>
                                        </div>
                                        </div>
                                </div>
                               
                            </div>
                    

                    </div>

                
                <!-- live-posts two -->
                <div class="live-posts2-container">

                        <div class="live-posts-cards">
    
                            <div class="live-card-wrapper">
                            <div class="live-card live-card7">
                                <div class="card-top card7top-container">
                                    <div class ="card-top card7top7-top">
                                        <ul class="live-card-list">
                                            <li class="quicklor quicklor-dark">Lorem Ipsum</li>
                                            <li><img src="../imgs/clock.png"></li>
                                            <li class="hour hour-dark">1 hr ago</li>
    
                                        </ul>
                                    <div class="card-top-bottom">

                                    <h5 class="card-top-headline dark-headline">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</h5>
                                    <p class="card-top-paragraph dark-paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                                </div>
                                </div>
                            </div>

    
                                <div class="live-card-body">
                                    <ul class="live-card-list">
                                        <li><img src="../imgs/buy2.png" alt=""></li>
                                        <li class="live-card7-8text">by Name Surname</li>
                                    </ul>
                            </div>
                            </div>
    
                            <div class="live-card live-card8">
                                <div class="card-top card8top-container">
                                    <div class ="card-top card8top8-top">
                                        <ul class="live-card-list">
                                            <li class="quicklor">Last comment</li>
                                            <li><img src="../imgs/clock.png"></li>
                                            <li class="hour">3 hr ago</li>
    
                                        </ul>
                                    </div>
                                  
                                </div>
    
                                <div class="live-card-body">
                                    <ul class="live-card-list">
                                        <li><img src="../imgs/buy3.png" alt=""></li>
                                        <li class="live-card7-8text">by Name Surname</li>
                                    </ul>
                            </div>
                            </div>
                        </div>
    
                            <div class="live-card-wrapper">
    
                                    <div class="live-card live-card9">
                                            <div class="card-top card9top-container">
                                                <div class ="card-top card9top9-top">
                                                    <ul class="live-card-list">
                                                        <li class="quicklor quicklor-dark">Last Comment</li>
                                                        <li><img src="../imgs/clock.png"></li>
                                                        <li class="hour hour-dark">2 hr ago</li>
                
                                                    </ul>
                                                </div>
                                              
                                            </div>
                
                                            <div class="live-card-body">
                                                <ul class="live-card-list">
                                                    <li><img src="../imgs/buy5.png" alt=""></li>
                                                    <li class="live-card9-10text">by Name Surname</li>
                                                </ul>
                                        </div>
                                        </div>
                                        <div class="live-card live-card10">
                                                <div class="card-top card10top-container">
                                                    <div class ="card-top card10top10-top">
                                                        <ul class="live-card-list">
                                                            <li class="quicklor quicklor-dark">Last comment</li>
                                                            <li><img src="../imgs/clock.png"></li>
                                                            <li class="hour hour-dark">45min ago</li>
                    
                                                        </ul>
                                                    <div class="card-top-bottom">
                                                    <h5 class="card-top-headline dark-headline">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</h5>
                                                    <p class="card-top-paragraph dark-paragraph">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                                                </div>
                                            </div>
                                        </div>

                    
                                                <div class="live-card-body">
                                                    <ul class="live-card-list">
                                                        <li><img src="../imgs/det2.png" alt=""></li>
                                                        <li class="live-card9-10text">by Name Surname</li>
                                                    </ul>
                                            </div>
                                            </div>
                                    </div>
                                   

                                <div class="live-card6">
                                        <img src="../imgs/ribbon2.png" class="ribbon2"> 
                                        <h5>Lorem ipsum.</h5>
                                        <img src="../imgs/livecard6.png">
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                                        <div class="line-live"></div>
                                        <h5>Lorem ipsum.</h5>
                                        <h5>Officia deserunt.</h5>
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                                        <div class="line-live"></div>
                                        <h5>Lorem ipsum.</h5>
                                        <h5>Officia deserunt.</h5>
                                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                                        <div class="line-live"></div>
                                    </div>
                            </div>

    
                    </div>

<div class="dates-live-container">
<h4 class="dates-live">Upcoming Dates</h4>
<div class="dates-box1">
    <div class="nested-box1">
        <div>
            <h6>Fri, Apr 12</h6>
            <ul>
                <li>The Ballroom</li>
                <li>Private Show</li>
                <li>Amsterdam</li>
            </ul>
        </div>
<div>
        <img src="../imgs/imgdates1.png">
</div>
<div class="nested-buttons">
    <div>    <button class="dates-btn dates-btn1">Get Tickets</button>
    </div>
<div>    <button class="dates-btn dates-btn2">Notify Me</button>
</div>    

</div>
            
        </div>
    </div>

    <div class="dates-box2">
            <div class="nested-box1">
                <div>
                    <h6>Fri, Apr 13</h6>
                    <ul>
                        <li>The Circus</li>
                        <li>Private Show</li>
                        <li>Helsinki</li>
                    </ul>
                </div>
        <div>
                <img src="../imgs/imgdates2.png">
        </div>
        <div class="nested-buttons">
            <div>    <button class="dates-btn dates-btn1">Get Tickets</button>
            </div>
        <div>    <button class="dates-btn dates-btn2">Notify Me</button>
        </div>    
        
        </div>
                    
                </div>
            </div>

            <div class="dates-box3">
                    <div class="nested-box1">
                        <div>
                            <h6>Fri, Apr 15</h6>
                            <ul>
                                <li>The Kean</li>
                                <li>Private Show</li>
                                <li>Tallin</li>
                            </ul>
                        </div>
                <div>
                        <img src="../imgs/imgdates3.png">
                </div>
                <div class="nested-buttons">
                    <div>    <button class="dates-btn dates-btn1">Get Tickets</button>
                    </div>
                <div>    <button class="dates-btn dates-btn2">Notify Me</button>
                </div>    
                
                </div>
                            
                        </div>
                    </div>
                
                    <div class="dates-box4">
                            <div class="nested-box1">
                                <div>
                                    <h6>Fri, Apr 13</h6>
                                    <ul>
                                        <li>The Face</li>
                                        <li>Private Show</li>
                                        <li>Riga</li>
                                    </ul>
                                </div>
                        <div>
                                <img src="../imgs/imgdates4.png">
                        </div>
                        <div class="nested-buttons">
                            <div>    <button class="dates-btn dates-btn1">Get Tickets</button>
                            </div>
                        <div>    <button class="dates-btn dates-btn2">Notify Me</button>
                        </div>    
                        
                        </div>
                                    
                                </div>
                            </div>
                        </div>          
                        </div>          

<div class="postcomment-container">
    <div class="postcomment-wrapper">
        <div>
        <button class="comment-btn" id="btnComment">Post a Comment</button>
        <div class="comment-box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint a culpa fugit asperiores, quis dolorem dolor quod quam pariatur nesciunt nostrum similique! Nam possimus unde aliquid minima error, tempora corrupti blanditiis ullam. Quia quod amet, architecto commodi aliquid voluptas laborum consequuntur esse unde dicta ipsa at sit nihil porro hic nesciunt earum ea expedita voluptatum ratione blanditiis. Laudantium placeat a itaque deserunt neque optio amet odio numquam necessitatibus voluptates atque cum enim dolorum ut temporibus repellat, nobis praesentium consectetur sapiente. Maxime amet excepturi, perferendis, atque alias commodi architecto, asperiores mollitia tempora dolor veritatis dolorum quos quis. Blanditiis incidunt delectus pariatur? 
            </p>
        </div>
        <div class="comment-box-bottom">
            <div><img src="../imgs/avatar-4@2x.png">
            </div>
            <div> <h6 class="postname">Sarah Connor</h6>
                <h6 class="postloc">Amsterdam, Neatherlands</h6></div>
           
    </div>
    </div>

    <div>
            <button class="comment-btn">Post a Comment</button>
            <div class="comment-box">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint a culpa fugit asperiores, quis dolorem dolor quod quam pariatur nesciunt nostrum similique! Nam possimus unde aliquid minima error, tempora corrupti blanditiis ullam. Quia quod amet, architecto commodi aliquid voluptas laborum consequuntur esse unde dicta ipsa at sit nihil porro hic nesciunt earum ea expedita voluptatum ratione blanditiis. Laudantium placeat a itaque deserunt neque optio amet odio numquam necessitatibus voluptates atque cum enim dolorum ut temporibus repellat, nobis praesentium consectetur sapiente. Maxime amet excepturi, perferendis, atque alias commodi architecto, asperiores mollitia tempora dolor veritatis dolorum quos quis. Blanditiis incidunt delectus pariatur? 
                </p>
            </div>
            <div class="comment-box-bottom">
                    <div><img src="../imgs/post-comment2.png">
                    </div>
                    <div> <h6 class="postname">Sarah Connor</h6>
                        <h6 class="postloc">Amsterdam, Neatherlands</h6></div>
                   
            </div>
            </div>
        </div>
</div>

</div>
</div>
<a href="../../index.html" class="btn-back-to-portfolio">&larr;Back to portfolio page</a>

<footer class="dark-footer">
    <div class="grid-footer">
        <div>
        <img src="../imgs/logosmall.png">
    <h6>All Rights Registered</h6>
</div>
<div class="social">
    <h5>Follow Us</h5>
    <i class="fab fa-spotify social-icons"></i>
    <i class="fab fa-facebook-square social-icons"></i>
    <i class="fab fa-instagram social-icons"></i>
    <i class="fab fa-twitter social-icons"></i>
    <i class="fab fa-medium social-icons"></i>
</div>
    <div>
    <h6 class="terms">Terms of Use</h6>
</div>
</div>
</footer>
</div>
</div>


                <script src="../js/main.js"></script>
</body>
</html>