
#intro {
    height: 100%;
    width: 100%;
}

.html  {
    box-sizing:border-box;
}

body {
    overflow-x: hidden; 
    font-family: "Montserrat";
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
 
  
/* Navbar */
.hash {
    color: rgb(13, 32, 43);
    font-size: 30px;
    position: absolute;
    margin-top: -12px;
    margin-left: -19px;
    font-weight: 700;
    
}

.navbar-brand {
    margin-left:13rem;
    opacity: 0.9;
    background: #26A29B;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    display: flex !important;
    justify-content: center !important;
}
.navbar ul li a:hover {
    color: rgb(44, 94, 116) !important;
}

/* Front Page */


.wrapper {
    display: grid;
    grid-template-columns: (1fr 2fr 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0.5rem;
    justify-items: stretch;
    align-items: stretch;
    margin-top: 3rem;

}

.wrapper > div {
    padding: 1em;
}

.wrapper h1 {
    color: white;
    font-size: 180px;
    position: absolute;
    opacity: 0.8;
}

.wrapper h2 {
    color: #fff;
    font-size: 80px;
    opacity: 0.8;
}

.wrapper h3 {
    color: #fff;
    font-size: 50px;
    opacity: 0.9;
}

.whats {
    grid-column:1/3;
    grid-row: 1/3;
    background: url("../imgs/mayer.jpg")no-repeat center center fixed;
    background-size: cover;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.their {
    grid-column:3;
    grid-column:3;
    height: 200px;
    background: url("../imgs/jeremy.jpg")no-repeat fixed;
    background-size: cover;
    
}

.gear {
    /* justify-self: start; */
    grid-column: 2/4;
    grid-row: 3;
    height: 200px;
    background: url("../imgs/pedals2.jpg")no-repeat fixed;
    background-size: cover;
}

.mobile {
    grid-column:1;
    grid-row:2/4;
    height: 200px;
    margin-top: 11.8rem;
    background: url("../imgs/noel-rec.jpg")no-repeat fixed;
    background-size: contain;
}

.app {
    height: 180px;
    background: url("../imgs/pedal3.jpg")no-repeat fixed;
    background-size: cover;
    
}
.headings {
    text-align: center;
    margin: 5rem auto;
}


.about-container {
    background: linear-gradient(120deg, rgb(156, 224, 221) 0%, #26A29B 100%);

}

.about-container h4 {
    color: white;
    opacity: 0.8;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: auto;
}
.app-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding-right: 3rem;
}

.nested-app1 {
    background: url("../imgs/cloudgp.png")no-repeat center center;
    background-size: cover;
    height: 38rem;
    padding-left: 3rem;

}

.cloud {
    width: 13%;
    margin-top: 3rem;
    margin-left: 13rem; 
}
.spotify {
    width: 17%;
    margin-top: 5rem;
    margin-left: 6rem;
}


.plug {
    width: 13%;
    margin-top: 3rem;
    margin-left: 21rem;
}

.nested-app2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}

.app-img {
    width: 60%;
}

.nested-app2 p {
    color: white;
    opacity: 0.6;
    margin: auto 2rem auto auto;
    line-height: 2;
    font-size: 14px;
}

.use-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.easy-header {
    color: #fff;
    padding-top: 3rem;
    padding-left: 7rem;
    opacity: 0.8rem;
}



.box1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    
}

.box1 img {
    
    margin-left: 5rem;
    margin-top: auto;   }

.box2 {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column:1/3;
    align-items: center;
    

    
}

.box2 img {
    margin-left: 15rem;
}

.red-wrapper {
    background: url("../imgs/red-wave.png")no-repeat center center;
    background-size: cover;
    height: 48rem;
    padding-top: 5rem;
}
.box3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;


}

.box3 img {
    margin-left: 5rem;
}
.box4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
   


}

.box4 img {
    margin-left: 18rem;
}

.locate {
    margin-left: 17rem;
}
.useicon {
    width: 14%;
}
.use-heading {
    color: #fff;
    opacity: 0.8;
    text-align: center;
}

.use-paragraph {
    color: #fff;
    opacity: 0.6;
    margin: auto 2rem auto 2rem;
    text-align: center;
    padding: auto 2rem auto 2rem;
}

.slider {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto 3rem auto 3rem;
    align-items: center;

}

.slider img {
    width: 90%;
}
.slider p {
    line-height: 2.3rem;
    opacity: 0.6;
    padding: 4rem;
    text-align: center;
}

.flatclouds {
    width: 100%;
    height: 13rem;
    opacity: 0.95;
}

.black-container {
    background: linear-gradient(120deg, #383434 0%, #141414 100%);
    margin-top: -0.2rem;
}
.flatclouds-reverse {
    width: 100%;
    height: 13rem;
    opacity: 0.95;


}


.black-container h4 {
    color: #fff;
    opacity: 0.8;
    margin-top: 2rem;
    margin-left: 3rem;
}

.wrapper-easy {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 3rem auto 3rem;
    
}

.thumb1 {
    width:40%;
    margin-left: 8rem;
    cursor: pointer;
    
}
.thumb2 {
    width:40%;
    margin-left: -8rem;
    margin-top: 6rem;
    cursor: pointer;

}
.thumb3 {
    width:40%;
    margin-left: -8rem;
    margin-top: 12rem;
    cursor: pointer;

}
.thumb4 {
    width:40%;
    margin-left: 8rem;
    margin-top: -6rem;
    cursor: pointer;

}
.thumb5 {
    width:40%;
    margin-left: -8rem;
    cursor: pointer;

}
.thumb6 {
    width:40%;
    margin-left: -8rem;
    margin-top: 6rem;
    cursor: pointer;

}
.thumb7 {
    width:40%;
    margin-left: 8rem;
    margin-top: -6rem;
    cursor: pointer;

}
.thumb8 {
    width:40%;
    margin-left: -8rem;
    margin-top: 2rem;
    cursor: pointer;
    
}
.thumb9 {
    width:40%;
    margin-left: -8rem;
    margin-top: 8rem;
    cursor: pointer;

}

.icons-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    align-content: center;
    
}

.icons-wrapper h5 {
    color: #fff;
    opacity: 0.6;
    margin-top: 3rem;
}

.icons-easy {
    width: 55%;
    margin-top: 0.8rem;
    opacity: 0.9;
}

.sponsor-heading {
    opacity: 0.4;
    padding-top: 5rem;
    text-align: center;
}
.sponsors-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 4rem 2rem auto 2rem;
    padding: 1.3rem;
}

.sponsors-wrapper img {
    width: 40%;
}

.sponsors-wrapper h5 {
    color: #fff;
    opacity: 0.8;
    margin-top: 1rem;

}

.sponsors-wrapper p {
    color: #fff;
    opacity: 0.5;
}

.app-img2 {
    width: 15%;
}

.loc-box h4 {
    color: #FFF;
    opacity: 0.8;
}
.loc-box {
    margin-top: 5rem;
    text-align: center;
}
.app-loc {
    width: 40%;
}
.clouds-footer {
    width: 100%;
    height: 18rem;
}

/* Footer */
.blue-footer {
    background: #26A29B;
    opacity: 0.9;
    width: cover;
    height: 10%;
    
}

.footer-text {
    padding-top: 35px;
    padding-left: 25px;
}


.footer-text2 {
    font-size: 13px;
    padding-left: 25px;
}

.social-img {
    width: 5%;
    padding-top: 25px;
}

@media(max-width: 800px) {

    .wrapper-easy {
        grid-template-columns: 1fr;
    }
    .sponsors-wrapper {
        grid-template-columns: 1fr;
    }
}
@media(max-width: 700px) {

    .navbar-brand {
        text-align: center;
    }
    .about-container {
        grid-template-columns: 1fr;
    }
    .app-container {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .wrapper {
        text-align: center;
    }

    .box1 {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .box2 {
        grid-template-columns: 1fr;
        text-align: center;

    }

    .box3 {
        grid-template-columns: 1fr;
        text-align: center;

    }

    .box4 {
        grid-template-columns: 1fr;
        text-align: center;

    }

.slider {
    grid-template-columns: 1fr;
}    

}

@media(max-width: 580px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);

}

.
}
@media(max-width: 550px) {
    .nested-app2 {
        grid-template-columns: 1fr;
        text-align: center;
        margin: auto auto;
    }

    .nested-app2 h4 {
        margin-top: 4rem;
    }

    .app-img {
        width: 50%;
    }
}

electric

.electric-border {
    background: rgb(248, 245, 245);
    padding-left: 10%;
    padding-right: 10%;
}

#electric-heading {
    padding-top: 10%;
    margin-bottom: 8%;
}
.electric-span {
    font-size: 50px;
}

.electric-description {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
.card-group {
    padding-left: 10%;
    padding-right: 10%;
}

.price {
    color: rgb(216, 27, 27);
    font-weight: bold;
}

/*electric*/

/*product description*/
.guitar-det-pic {
    padding-left: 8%;
    padding-top: 2%;
}

.guitar-det {
    padding-right: 5%;
    padding-top: 2%;
}
.navigation-det {
    padding-top: 4%;
    padding-left: 8%;
    
}

.electric-img-det {
    width: 90%;
}

.btn-add-det {
    width: 200px !important;
}
.guitar-details-header {
    padding-top: 5%;
}

.guitar-details-list {
    padding-top: 4%;
    line-height: 1.9;
}
.guitar-description {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
}

.container-rec {
    margin-left:100px;
    margin-right: 100px;
}
.quote-det {
    padding: 30px;
}
.blue-text-det {
    color: #4d4d6e;
    margin-top: -30px;
    margin-left: 340px;
}

.img-rec-det {
    width: 30%;
    margin-left: 40px;
} */
/*product description*/

/*sponsor*/

.container-sponsor {
    padding-top: 15rem;
}

.header-john {
    margin-left: 60%;
}

.john-image {
    width: 90%;
    padding-left: 120px; 
}

.description1 {
    padding-right: 120px;
    line-height: 2.3;
}

.first-letter {
    font-size: 100px;
    position: absolute;
    margin-top: -110px;
    margin-left: -25px;
}

.carousel-caption  {
    font-size: 15px;
}
.recommends {
   margin: 1rem auto;
}
.guitar-recommended {
    width: 95%;
}

.quote {
    justify-content: center;
}
.guitars-recommended {
    padding-top: 40px;
    padding-left: 40px;
}



#johncarousel {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 650px;
    width: 350px; height:350px;
    
}
.guitars-recommended-description {
    font-size:12px;
}

.carousel-text {
    margin-bottom: 2px;
    padding-bottom:2px;
    margin-top: 20%;
    color: black;
}
.container-recommended {
    padding-left: 10px;
}

.quote {
    line-height: 1.8;
    padding-right: -10px;
    padding: 30px;
    margin-left: 80px;
    font-size: 16px;
    margin-top: 30px;
}

.bd-carousel-music {
    width: 380px;
    padding-left: 140px; 
}

.quotemarks {
    font-size: 25px;
    font-family: 'Segoe UI';
    opacity: 0.9;
}

#quotemark1 {
    padding-top:10px;

}

.img-rec {
    width: 20%;
    padding-right: -300px;
    padding-left: 10px;
    margin-top: 1rem;;
    position: relative;
}

.blue-text {
    color: #6aaaa7;
} 

