$color-white: rgb(255, 255, 255);
$color-red-light: rgb(243, 144, 144);
$color-red-medium: rgb(233, 102, 102);
$color-red-dark: rgb(201, 82, 82);
   
$color-red-magic: rgb(187, 49, 79);
$color-red-magicdark: rgb(94, 8, 27);
    
$color-black: rgb(22, 20, 20);
$color-blue-light: rgb(147, 202, 202);

$color-grey: rgb(121, 101, 101);
$color-lightgrey: rgb(194, 179, 179);
$color-verylightgrey: rgb(230, 222, 222);