<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Noirflix</title>

<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,600" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../style/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script type="text/javascript" src="../js/main.js"></script>
</head>
<body>

    <div class="loader-container">
        <div class="loader">
               <h1>Noirflix</h1>

                <img src="../imgs/loader.gif" class="loading-img" alt="Loading..." />
            </div>
        </div>

        
        <nav class="navbar navbar-expand-lg navbar-light py-2 fixed-top" class= "hideonload" nav id="mainNavbar">
            <a href="https://fontmeme.com/netflix-font/"><img src="https://fontmeme.com/permalink/190714/5e22bdf76bf747ae2440439a54547317.png" alt="netflix-font" class="nlogo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Series</a>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Films</a>
                                    <li class="nav-item">
                                            <a class="nav-link" href="#">Recently Added</a>
                                            <li class="nav-item">
                                              <a class="nav-link" href="#">My List</a>
                                          
              </ul>

        <ul class="sign-log">
         <li class="search"><i class="fas fa-search fa-2x"></i></li>
          <li class="notification-bell"><i class="fas fa-bell fa-2x"></i></li>
          <li><a href="index.html"></a><img src="../imgs/icon3-small.png" class="icon-profile" alt=""></a></li>
           <li class="switch grow"><a href="landing.html">Switch Account</a></li>

          <!-- <a href="#"><li><button type="button" class="btn btn-light"> sign up </button></li></a>
          
           <a href="#"><li><button type="button" class="btn btn-light"> log in</button></li></a> -->
            </ul>
          </div>

        </div>
      </nav>


  <div id ="intro" class="front-page-container container-2">
    <div class="mask rgba-red-light">

        <div class="content">
        <div class="row front-headers">
          <h2 class="front-page-header header2"><strong>Always Be</strong></h2>
        </div>
        <div class="row front-headers">
          <h2 class="front-page-header subheader subheader2"><strong>My Maybe</strong></h2>
        </div>
          <div class="front-page__button-container">
          <button class="btn btn-default front-page-button btn-md btn-dark"><i class="fas fa-play"></i> Play</button>
          <button class="btn btn-default front-page-button btn-md btn-dark"><i class="fas fa-plus"></i> My List</button>
        </div>
    </div>
</div>
</div>
</div>

<div class="yellow-container">
  <div>
    <h5 class="frames text-white">Popular On Noirflix</h5>
  </div>
  <div class="row align-text-center align-content-center justify-content-center no-gutters">

    
      <div class="col-lg-2 col-md-4 col-sm-12 movielist">
          <a href="#" class="textWithBlurredBg grow">
            <img src="../imgs/birdbox.jpg">
            <h5>BirdBox</h5>
            <h6>Watch Now<h6>
              </a>
        </div>

    <div class="col-lg-2 col-md-4 col-sm-12 movielist">
  <a href="#" class="textWithBlurredBg grow">
    <img src="../imgs/annihilation.jpg">
    <h5>Annihilation</h5>
    <h6>Watch Now<h6>
      </a>
</div>

<div class="col-lg-2 col-md-4 col-sm-12 movielist">
    <a href="#" class="textWithBlurredBg grow">
      <img src="../imgs/blacklist.jpg">
      <h5>Blacklist</h5>
      <h6>Watch Now<h6>
        </a>
  </div>

<div class="col-lg-2 col-md-4 col-sm-12">
  <a href="#" class="textWithBlurredBg grow">
      <img src="../imgs/dims.jpg">
      <h5>Manchester by the Sea</h5>
      <h6>Watch Now<h6>
    </a>
  </div>

  <div class="col-lg-2 col-md-4 col-sm-12">
    <a href="#" class="textWithBlurredBg grow">
        <img src="../imgs/friendsfromcollege.jpg">
        <h5>Friends From College</h5>
        <h6>Watch Now<h6>
          </a>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-12">
    <a href="#" class="textWithBlurredBg grow">
        <img src="../imgs/howimet.jpg">
        <h5>How I Met Your Mother</h5>
        <h6>Watch Now<h6>
          </a>
    </div>
    </div>


  <div class="container-trending4">
    <div class="row">
    <div class="col-lg-8 col-xs-12">
        <img src="../imgs/love2.jpg" class="card-img-top" alt="Love" title="Love">
      </div>
      <div class="col-lg-4 col-md-12 col-xs-12 trending-text">
        <div class="trending-box">
        <h6 class="title1 text-white">Trending Now</h6>
          <h2 class="title2 text-white">Love</h2>
      <div class="button-container">
          <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-play"></i> Play</button>
          <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-plus"></i> Add to My List</button>
          <br>
        </div>

          <p class="title3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas unde nam! Sed est nulla, asperiores odit et dolores id? Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore neque porro voluptate.</p>
            	
        </div>
      </div>
      <div>

        </div>
        </div>
    </div>
  </div>
  <div class="container-fluid popular mt-5">
    <h5 class="frames text-white">
      Recently Added
    </h5>

<div class="row newreleases no-gutters justify-content-center">
  <div class="col-lg-2 col-sm-12 mt-5"><img src="../imgs/therevenant.jpg" alt="" class="watch grow"></div>
  <div class="col-lg-2 col-sm-12 mt-5"><img src="../imgs/breaking.jpg" alt="" class="watch grow"></div>
  <div class="col-lg-2 col-sm-12 mt-5"><img src="../imgs/mother!.jpg" alt="" class="watch grow"></div>
  <div class="col-lg-2 col-sm-12 mt-5"><img src="../imgs/love.jpg" alt="" class="watch grow"></div>
  <div class="col-lg-2 col-sm-12 mt-5"><img src="../imgs/saul.jpg" alt="" class="watch grow"></div>
  <div class="col-lg-2 col-sm-12 mt-5"><img src="../imgs/bigshort.jpg" alt="" class="watch grow"></div>
</div>
</div>

  <div class="container-trending5">
    <div class="row">
      <div  class="col-lg-8 col-xs-12">
          <img src="../imgs/whatif2.jpg" class="card-img-top" alt="The Revenant" title="The Revenant">
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 trending-text">
            <div class="trending-box">  
            <h6 class="title1 text-white">New Releases</h6>
            <h3 class="title2 text-white">What/If</h3>
  <div class="button-container">
            <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-play"></i> Watch Movie</button>
            <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-plus"></i> Add to My List</button>
            <br>
          </div>
        
  
            <p class="title3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas unde nam! Sed est nulla, asperiores odit et dolores id? Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore neque porro voluptate.</p>
          </div>
          <div>
          </div>
          </div>
          </div>
      </div>
    </div>
    
  <div class="container-trending6">
    <div class="row">
      <div  class="col-lg-8 col-xs-12">
          <img src="../imgs/houseofcards2.jpg" class="card-img-top" alt="The Revenant" title="The Revenant">
        </div>
        <div class="col-lg-4 col-md-12 col-xs-12 trending-text">
          <div class="trending-box">            
            <h6 class="title1 text-white">Most Watched</h6>
            <h3 class="title2 text-white">House of Cards</h3>
  <div class="button-container">
            <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-play"></i> Play Episode</button>
            <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-plus"></i> Add to My List</button>
            <br>
         
        <div>
  
            <p class="title3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas unde nam! Sed est nulla, asperiores odit et dolores id? Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore neque porro voluptate.</p>
          </div>

        </div>
  
          </div>
          </div>
      </div>
    </div>
  </div>


  <div class="icon-container">
    <div class="row row-icons">
      <div class="col-lg-3 col-md-6 col-xs-12">
      <img src="../imgs/play.png" class="icon-front"></i>
        <h5 class="icon-header text-white" onmouseover="scaleUp(this, '25px')" onmouseout="scaleUp(this,'20px')">On Demand</h5>
        <div class="icon-text-box">
      <p class="icon-description text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas possimus omnis dolores accusamus vero eos soluta mollitia quam suscipit cupiditate.</p>
      </div>
      </div>
  
      <div class="col-lg-3 col-md-6 col-xs-12">
          <img src="../imgs/mobile.png" class="icon-front"></i>
          <h5 class="icon-header text-white" onmouseover="scaleUp(this, '25px')" onmouseout="scaleUp(this,'20px')">Watch Everywhere</h5>
          <div class="icon-text-box">
            <p class="icon-description text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas possimus omnis dolores accusamus vero eos soluta mollitia quam suscipit cupiditate.</p>
            </div>
          </div>
      
          <div class="col-lg-3 col-md-6 col-xs-12">
              <img src="../imgs/wireless.png" class="icon-front"></i>
              <h5 class="icon-header  text-white" onmouseover="scaleUp(this, '25px')" onmouseout="scaleUp(this,'20px')">Stream Seamlessy</h5>
              <div class="icon-text-box">
                <p class="icon-description text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas possimus omnis dolores accusamus vero eos soluta mollitia quam suscipit cupiditate.</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 col-xs-12">
                  <img src="../imgs/movies.png" class="icon-front"></i>
                  <h5 class="icon-header text-white" onmouseover="scaleUp(this, '25px')" onmouseout="scaleUp(this,'20px')">High Quality</h5>
                  <div class="icon-text-box">
                    <p class="icon-description text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas possimus omnis dolores accusamus vero eos soluta mollitia quam suscipit cupiditate.</p>
                    </div>
                  </div>
            </div>
          </div>

<div class="yellow-container">
  <div>
    <h5 class="frames text-white">Trending Now</h5>
  </div>
  <div class="row align-text-center align-content-center justify-content-center no-gutters">

    
      <div class="col-lg-2 col-xs-12 movielist">
          <a href="#" class="textWithBlurredBg grow">
            <img src="../imgs/burnt.jpg">
            <h5>Burnt</h5>
            <h6>Watch Now<h6>
              </a>
        </div>

    <div class="col-lg-2 col-xs-12 movielist">
  <a href="#" class="textWithBlurredBg grow">
    <img src="../imgs/alwaysbe2.jpg">
    <h5>Always Be My Maybe</h5>
    <h6>Watch Now<h6>
      </a>
</div>

<div class="col-lg-2 col-xs-6 movielist">
    <a href="#" class="textWithBlurredBg grow">
      <img src="../imgs/whatif.jpg">
      <h5>What If</h5>
      <h6>Watch Now<h6>
        </a>
  </div>

<div class="col-lg-2 col-xs-6">
  <a href="#" class="textWithBlurredBg grow">
      <img src="../imgs/modern-family.jpg">
      <h5>Modern Family</h5>
      <h6>Watch Now<h6>
    </a>
  </div>

  <div class="col-lg-2 col-xs-6">
    <a href="#" class="textWithBlurredBg grow">
        <img src="../imgs/whiplash.jpg">
        <h5>Whiplash</h5>
        <h6>Watch Now<h6>
          </a>
    </div>

    <div class="col-lg-2 col-xs-6">
    <a href="#" class="textWithBlurredBg grow">
        <img src="../imgs/new-girl.jpg">
        <h5>New Girl</h5>
        <h6>Watch Now<h6>
          </a>
    </div>
    </div>

    <div class="continue-watching-container">
        <h5 class="frames text-white">Continue Watching</h5>
      </div>
    <div class="row row2 align-text-center align-content-center justify-content-center no-gutters">
    <div class="col-lg-2 col-xs-6">
      <a href="#" class="textWithBlurredBg grow">
        <img src="../imgs/houseofcards.jpg">
        <h5>House of Cards</h5>
        <h6>Watch Now<h6>
          </a>
    </div>
    <div class="col-lg-2 col-xs-6">
      <a href="#" class="textWithBlurredBg grow">
          <img src="../imgs/passengers.jpg">
          <h5>Passengers</h5>
          <h6>Watch Now<h6>
            </a>
      </div>
    
    <div class="col-lg-2 col-xs-6">
        <a href="#" class="textWithBlurredBg grow">
            <img src="../imgs/revenant.jpg">
            <h5>The Revenant</h5>
            <h6>Watch Now<h6>
              </a>
        </div>
    
    <div class="col-lg-2 col-xs-6">
        <a href="#" class="textWithBlurredBg grow">
            <img src="../imgs/suburra.jpg">
            <h5>Suburra</h5>
            <h6>Watch Now<h6>
              </a>
        </div>
        <div class="col-lg-2 col-xs-6">
            <a href="#" class="textWithBlurredBg grow">
                <img src="../imgs/truestory.jpg">
                <h5>True Story</h5>
                <h6>Watch Now<h6>
                  </a>
            </div>
            <div class="col-lg-2 col-xs-6">
                <a href="#" class="textWithBlurredBg grow">
                    <img src="../imgs/gonegirl.jpg">
                    <h5>Gone Girl</h5>
                    <h6>Watch Now<h6>
                      </a>
                </div>

        </div>
        
  </div>

  <div class="continue-watching-container">
    <h5 class="frames text-white">New Releases</h5>
  </div>
<div class="row row2 align-text-center align-content-center justify-content-center no-gutters">
<div class="col-lg-2 col-xs-6">
  <a href="#" class="textWithBlurredBg grow">
    <img src="../imgs/deadtome.jpg">
    <h5>Dead to Me</h5>
    <h6>Watch Now<h6>
      </a>
</div>
<div class="col-lg-2 col-xs-6">
  <a href="#" class="textWithBlurredBg grow">
      <img src="../imgs/narcos.jpg">
      <h5>Narcos - Mexico</h5>
      <h6>Watch Now<h6>
        </a>
  </div>

<div class="col-lg-2 col-xs-6">
    <a href="#" class="textWithBlurredBg grow">
        <img src="../imgs/afterlife.jpg">
        <h5>After Life</h5>
        <h6>Watch Now<h6>
          </a>
    </div>

<div class="col-lg-2 col-xs-6">
    <a href="#" class="textWithBlurredBg grow">
        <img src="../imgs/ranch.jpg">
        <h5>The Ranch</h5>
        <h6>Watch Now<h6>
          </a>
    </div>
    <div class="col-lg-2 col-xs-6">
        <a href="#" class="textWithBlurredBg grow">
            <img src="../imgs/orange.jpg">
            <h5>Orange is the New Black</h5>
            <h6>Watch Now<h6>
              </a>
        </div>
        <div class="col-lg-2 col-xs-6">
            <a href="#" class="textWithBlurredBg grow">
                <img src="../imgs/lastsummer.jpg">
                <h5>The Last Summer</h5>
                <h6>Watch Now<h6>
                  </a>
            </div>

    </div>
    
</div>



<!-- <div class="yellow-container">
  <div class="border">

  </div>
</div> -->


<div class="footer-dark">

<div class="row justify-content-center">

  <div class="col-lg-3 md-2-sm-1 text-white footer-logo justify-content-center">
    <ul>
        <a href="https://fontmeme.com/netflix-font/"><img src="https://fontmeme.com/permalink/190714/5e22bdf76bf747ae2440439a54547317.png" alt="netflix-font" class="nlogo-footer"></a>        <li class="rights">All Rights Reserved</li>  
    </ul>

  </div>

  <div class="col-lg-3 md-2-sm-1 app d-flex justify-content-center text-white sm-2">
    <ul>
      <li>Get the App</li>
      <li>iOS <i class="fab fa-apple"></i></li>
    <li>Android <i class="fab fa-android"></i></li>
    </ul>
  </div>


  <div class="col-lg-3 md-2-sm-1 d-flex justify-content-center text-white follow sm-2">
    <ul>
      <li class="followus">Follow Us</li>
      <li><i class="fab fa-facebook-square"></i></li>
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fab fa-twitter"></i></li>
  </ul>
  </div>

    </div>

</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="../js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script>
 
 </script>
</body>
</html>