<!DOCTYPE html>
<html>
<head>
	<title>Noirflix</title>

<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,600" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../style/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script type="text/javascript" src="script.js"></script>
</head>
<body>

    <div class="loader-container">
        <div class="loader">
               <h1>Noirflix</h1>

                <img src="../imgs/loader.gif" class="loading-img" alt="Loading..." />
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light py-0 fixed-top" class= "hideonload" nav id="mainNavbar">
            <a class="navbar-brand text-white"><img src="../imgs/nlogo.png" alt="sketch logo" id="logo" class="nlogo"> Noirflix</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">Movies</a>
                <li class="nav-item">
                        <li class="nav-item">
                                <a class="nav-link" href="#gallery">TV Series</a>
                              <li class="nav-item">
                                    <li class="nav-item">
                                            <a class="nav-link" href="#tablet reviews">Documentaries</a>
                                          
              </ul>
        <ul class="sign-log">
            <a href="#"><li><i class="fas fa-user-plus"></i> sign up </li></a>
            <a href="#"><li><i class="fas fa-user-plus"></i> log in</li></a>
            </ul>
          </div>

        </div>
      </nav>
<section>

 <div class="container-image">

<div id ="intro" class="view">
    <div class="mask rgba-red-light">

	<div class="row lg-12 md-6 sm-3">
		<div class="col lg-12 md-6 sm-3">
			<div class="content">
			<h1 class="front-page-header"><strong>Black Mirror</strong></h1>
      <h3 class="front-page-header"><strong>Bandersnatch</strong></h3>
      <br>
			<button class="btn btn-default front-page-button btn-md btn-dark"><i class="fas fa-play"></i> Watch Movie</button>
      <button class="btn btn-default front-page-button2 btn- btn-dark"><i class="fas fa-plus"></i> Add to My List</button>

    </div>
    </div>
	</div>
</div>
</div>
</div>
<div class="original mt-5">
  <h3 class="new-releases text-white">
    New Releases
  </h3>
  <div>
<div class="wrapper">
  <div><img src="../imgs/therevenant.jpg" alt="" class="watch"></div>
  <div><img src="../imgs/breaking.jpg" alt="" class="watch"></div>
  <div><img src="../imgs/mother!.jpg" alt="" class="watch"></div>
  <div><img src="../imgs/saul.jpg" alt="" class="watch"></div>
  <div><img src="../imgs/bigshort.png" alt="" class="watch"></div>

  
</div>


  <div class="wrapper2 mt-5">
    <div>
        <img src="../imgs/revenant2.jpg" class="card-img-top" alt="The Revenant" title="The Revenant">
      </div>
        <div>
          <h6 class="title1 text-white">Trending Now</h6>
          <h2 class="title2 text-white">The Revenant</h2>
<div>
          <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-play"></i> Watch Movie</button>
          <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-plus"></i> Add to My List</button>
          <br>
        </div>
        <div>

          <p class="title3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas unde nam! Sed est nulla, asperiores odit et dolores id? Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore neque porro voluptate.</p>
            	

        </div>
        </div>
    </div>
  </div>

  <div class="wrapper2 mt-5">
      <div>
          <img src="../imgs/breakingbad2.jpg" class="card-img-top" alt="The Revenant" title="The Revenant">
        </div>
          <div>
            <h6 class="title1 text-white">Most Watched</h6>
            <h2 class="title2 text-white">Breaking Bad</h2>
  <div>
            <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-play"></i> Watch Movie</button>
            <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-plus"></i> Add to My List</button>
            <br>
          </div>
          <div>
  
            <p class="title3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas unde nam! Sed est nulla, asperiores odit et dolores id? Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore neque porro voluptate.</p>
                
  
          </div>
          </div>
      </div>
    </div>
    
  <div class="wrapper2 mt-5">
      <div>
          <img src="../imgs/lookofsilence.jpg" class="card-img-top" alt="The Revenant" title="The Revenant">
        </div>
          <div>
            <h6 class="title1 text-white">Award Winning Documentaries</h6>
            <h2 class="title2 text-white">The Look of Silence</h2>
  <div>
            <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-play"></i> Watch Movie</button>
            <button class="btn btn-default front-page-button2 btn-sm btn-dark"><i class="fas fa-plus"></i> Add to My List</button>
            <br>
          </div>
          <div>
  
            <p class="title3 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptas unde nam! Sed est nulla, asperiores odit et dolores id? Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore neque porro voluptate.</p>
                
  
          </div>
          </div>
      </div>
    </div>
  

<div class="icon-container">
  <div class="icon-wrapper">
      <img src="../imgs/play.png" class="icon-front"></i>
      <h5 class="icon-header text-white" onmouseover="scaleUp(this, '25px')" onmouseout="scaleUp(this,'20px')">On Demand</h5>
    <p class="icon-description text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, minima!</p>
    </div>

    <div class="icon-wrapper">
        <img src="../imgs/mobile.png" class="icon-front"></i>
        <h5 class="icon-header text-white" onmouseover="scaleUp(this, '25px')" onmouseout="scaleUp(this,'20px')">Watch Everywhere</h5>
        <p class="icon-description  text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, minima!</p>
        </div>
    
        <div class="icon-wrapper">
            <img src="../imgs/wireless.png" class="icon-front"></i>
            <h5 class="icon-header  text-white" onmouseover="scaleUp(this, '25px')" onmouseout="scaleUp(this,'20px')">Stream Seamlessy</h5>
            <p class="icon-description  text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, minima!</p>
            </div>
  
            <div class="icon-wrapper">
                <img src="../imgs/movies.png" class="icon-front"></i>
                <h5 class="icon-header text-white" onmouseover="scaleUp(this, '25px')" onmouseout="scaleUp(this,'20px')">High Quality</h5>
                <p class="icon-description text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, minima!</p>
                </div>
          </div>


<div class="yellow-container">
  <div>
    <h5 class="frames text-white">Trending Now</h5>
  </div>
  <div class="row align-text-center align-content-center">
    <div class="col-lg4-md2 movielist">
  <a href="#" class="textWithBlurredBg">
    <img src="../imgs/annihilation.jpg">
    <h4>Annihilation</h4>
    <h6>Watch Now<h6>
      </a>
</div>
<div class="col-lg4-md-2">
  <a href="#" class="textWithBlurredBg">
      <img src="../imgs/dims.jpg">
      <h4>Manchester by the Sea</h4>
      <h6>Watch Now<h6>
    </a>
  </div>

  <div class="col-lg4-md2">
    <a href="#" class="textWithBlurredBg">
        <img src="../imgs/friendsfromcollege.jpg">
        <h4>Friends From College</h4>
        <h6>Watch Now<h6>
          </a>
    </div>

    <div class="col-lg4-md2">
    <a href="#" class="textWithBlurredBg">
        <img src="../imgs/howimet.jpg">
        <h4>How I Met Your Mother</h4>
        <h6>Watch Now<h6>
          </a>
    </div>
    </div>
    <div>
        <h5 class="frames text-white">Continue Watching</h5>
      </div>
    <div class="row row2 align-text-center align-content-center">
        <div class="col-lg4-md2">
      <a href="#" class="textWithBlurredBg">
        <img src="../imgs/dunkirk.jpg">
        <h4>Dunkirk</h4>
        <h6>Watch Now<h6>
          </a>
    </div>
    <div class="col-lg4-md-2">
      <a href="#" class="textWithBlurredBg">
          <img src="../imgs/passengers.jpg">
          <h4>Passengers</h4>
          <h6>Watch Now<h6>
            </a>
      </div>
    
      <div class="col-lg4-md2">
        <a href="#" class="textWithBlurredBg">
            <img src="../imgs/revenant2.jpg">
            <h4>The Revenant</h4>
            <h6>Watch Now<h6>
              </a>
        </div>
    
        <div class="col-lg4-md2">
        <a href="#" class="textWithBlurredBg">
            <img src="../imgs/suburra2.jpg">
            <h4>Suburra</h4>
            <h6>Watch Now<h6>
              </a>
        </div>
        </div>
        
  </div>



<!-- <div class="yellow-container">
  <div class="border">

  </div>
</div> -->


<div class="footer-dark">
<div class="row">
  <div class="col text-white">
      <img src ="../imgs/nlogo.png" class="nlogo-footer"> Noirflix

  </div>

  <div class="col d-flex justify-content-end text-white">
    <p class="footer-right">Get the App</p>
  </div>
  <div class="col d-flex text-white">

    <p>iOS</p>
  </div>

  <div class="col d-flex justify-content-start text-white">

    <p>Android</p>
  </div>

    </div>

</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script type = "text/javascript" src="../js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script>
      window.addEventListener("load", function () {
const loader = document.querySelector(".loader");
loader.className += " hidden"; // class "loader hidden"
});
      </script>
  <script>
    $(function () {
         $(document).scroll(function () {
             var $nav = $("#mainNavbar");
             $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
         });
     });
 </script>
</body>
</html>