@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);

    }

    80% {
        transform: translateX(10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(200px);

    }

    80% {
        transform: translateX(-10px);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
    }


    .grow {
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            z-index: 5;
    }
}