
/* About */

.about-container {
    padding: 8rem;
    height: 100vh;
}
.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nested-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    height: 100%;
}

.nested-child-img1 {
    background: url("../imgs/venice.jpg")no-repeat center center/cover;
    
}
.nested-child-img2 {
    background: url("../imgs/adults-artists-band-2167113.jpg")no-repeat center center/cover;
    
    
}
.nested-child-img3 {
    background: url("../imgs/blue.jpg")no-repeat center center/cover;
   
    
}
.nested-child-4imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.nested-child-img4 {
    background: url("../imgs/adult-cap-dark-838696\ \(1\).jpg")no-repeat center center/cover;
    
}
.nested-child-img5 {
    background: url("../imgs/artist-cap-close-up-1460037.jpg")no-repeat center center/cover;
    
}
.nested-child-img6 {
    background: url("../imgs/front-image.jpg")no-repeat center center/cover;
    
}
.nested-child-img7 {
    background: url("../imgs/headphones.jpg")no-repeat center center/cover;
    
}
.about-text {
    padding: 3rem;
}

.about-text h3 {
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: var(--font-size-medium);
}

.about-text p {
    margin-top: 2rem;
    font-size: var(--font-size-small);
    color: var(--dark);
}

.about-btn {

    background:var(--pink);
    color: var(--light);
    font-weight: 600;
    font-size: var(--font-size-small);
    width: 12rem;
    height: 5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3rem;
    text-transform: uppercase;
    cursor: pointer;
}

.about-btn:hover {
    background: #b12a5b;
    transform: translateY(-.1rem);
}

.about-btn:active,
.about-btn:focus {
    transform:translateY(-.2rem);
    outline: none;
}


@media(max-width: 800px) {
    .about-wrapper {
        grid-template-columns: 1fr;
    }

}

@media(max-width: 500px) {
    .about-container {
        padding: 1.7rem;
        margin-top: 5rem;
    }

    .nested-about {
        grid-template-columns: 1fr;
    
    }
    .nested-box1 .dates-image {
        width: 50%;
    }
    .nested-buttons {
        justify-items: center;
        align-items: center;
        padding: 1rem;
    }
    .nested-child-img3 {
        height: 100%;
    }
    .nested-child-img2 {
        width: 100%;
    }
}
