* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* CSS Variables */

:root {
    --primary:#fff;
    --dark:rgb(39, 37, 44);
    --very-dark:rgb(24, 23, 26);
    --light:rgb(217, 227, 235);
    --very-light: rgb(247, 250, 252);
    --super-light:(#fff);
    --shadow:rgb(57, 72, 102);
    --grey-text: rgb(138, 149, 153);
    --red: rgb(190, 103, 103);

}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    font-family: 'Montserrat', 'Roboto';
    height: 100vh;
    overflow-x: hidden;
    
    
}

/*Navbar*/

nav {
    height: 3rem;
    z-index: 1;
    position: fixed;
    background: #fff;
    width: 100%;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.nav-links li {
    margin: 0 1.3rem;
    padding: 1rem;
    font-size: 16px;
}

.nav-links li a {
    color: var(--very-dark);
    text-decoration: none;
}

.nav-links li a:hover {
    color: var(--shadow);
}

.btn-back-to-portfolio {
    margin-right: 2rem;
    margin-top: 4rem;
    text-decoration: none;
    background: var(--shadow);
    color: #fff;
    padding: 0.8rem;
    border-radius: 2px;
    float: right;
    font-size: 12px;
    width: 12rem;
}

.btn-back-to-portfolio:visited {
    text-decoration: none;

}

.btn-back-to-portfolio:hover {
    box-shadow: 0 1rem 1.5rem rgba(48, 45, 45, 0.4);
    transform: translateY(-.1rem);
    background: var(--dark);

}

.btn-back-to-portfolio:active {
    transform: translateY(0);

}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background: var(--dark); */
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
    color:var(--very-light);
    text-align: center;
    padding-bottom: 2rem;
}

.logo-footer {
    color: var(--very-light);
    margin-top: 1.2rem;
}

.nested6 {
    display: grid;
    grid-auto-flow: repeat(2,1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
}

.nested6 img {
    width: 20px;
}
.nested6 p {
    font-size: 12px;
    color: var(--grey-text);
}

.social-media {
    margin-top: 2.8rem;
}


.social-media a .fab{
    color: var(--light);
    padding: 0.2rem;

}

.social-media a:hover {
    color: var(--shadow);
}

.back-to-portfolio-link {
    margin-top: 2.8rem;
}

.back-to-portfolio-link a {
    text-decoration: none;
    color: var(--light);

}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.grow2 { transition: all .2s ease-in-out; }
.grow2:hover { transform: scale(2.1); }

@media(max-width: 850px) {
    nav {
        position: relative;
        opacity: transparent;
    }
    .line {
        width: 27px;
        height: 3px;
        margin: 6px;
        background: black;
    }

    .hamburger {
        top: 50%;
        right: 3%;
        transform: translate(-3%, -47%);
        cursor: pointer;
        position: absolute;
        z-index: 2;
    }

    .nav-links {
        background: skyblue;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
        transition: all 0.5s ease-out;
        pointer-events: none;
        opacity: 0.9;
        position:fixed;

    }

   

    .nav-links li a {
        font-size: 17px;
    }

    .nav-links li a:hover {
        color: white;
    }

    .nav-links.open {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
        pointer-events: all;
    }
    
    .portfolio-button {
        padding: 6rem;
        text-align: center;
    }
}