.button-container {
    margin-top: 1rem;
    text-align: center;
}

    .btn-live {
        padding: 2.5rem;
        margin-top: 1rem;
        width: 24rem;
        border-radius: 50px;
        display:inline-block;
        border: none;
        font-weight: 600;
        color: #fff;
        font-size: 17px;
        background-color: $color-red-magic;
        cursor: pointer;
        position: relative;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        text-decoration: none;

        @include respond(tab-port) {
            padding: 4rem;
            width:24rem;
        }

        @include respond(phone) {
            padding: 2rem;
            width:25rem;
        }

        
        &:hover {
            background-color:$color-red-magicdark;
            transform:translateY(-3px);
        
        }

    &:link,      
    &:visited {
   
        outline: none;
    }
       
        
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            text-decoration: none;
        
       
    
    
    }
    }

    
    .btn2 { 
        background: $color-red-magic;
        color: $color-white;
        border: none;
        height: 5rem;
        width: 14rem;
        padding: 1.2rem;
        margin-top: 10px;
        font-weight: 400;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;

        @include respond(tablet) {
            
            width: 10rem;
    
        }
        

        &:hover {
            background: $color-red-dark;
            transform: translateY(-1px);
            box-shadow: 0 5px 10px $color-red-magicdark;
        }
    
    

    }

   
    
    .appstore-button {
        margin-top: 1rem;
        cursor: pointer;
    }

    
   
    .btn-back-to-portfolio {
        margin-left: 2rem;
        margin-top: 6rem;
        text-decoration: none;
        background: $color-red-medium;
        color: #fff;
        padding: 2.1rem;
        border-radius: 2px;
        cursor:pointer;
        font-size: 16px;

        
    &:visited {
        text-decoration: none;

    }

    &:hover {
        box-shadow: 0 1rem 1.5rem rgba(48, 45, 45, 0.4);
        transform: translateY(-1rem);
        background: $color-red-magic;

    }

    &:active {
        transform: translateY(0);

    }
    }


    

    #myBtn {
        display: none;
        position: fixed;
        bottom: 8.5%;
        right:4.3%;
        z-index: 100;
        font-size: 13px;
        border: none;
        height: auto;
        width: auto;
        color: $color-white;
        background: $color-red-medium;
        cursor: pointer;
        padding: 15px;
        border-radius: 3px;
        margin-top: 4rem;
    }
    #myBtn:hover {
        background-color: $color-red-dark;
    }

    

  
 








