* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

@media(max-width: 1250px) {
    html {
        font-size: 56%;
    }
}

@media(max-width: 800px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 500px) {
    html {
        font-size: 45%;
    }
}



body {
	background: #ffffff;
	overflow-x: hidden;
	height: 100vh;
}

:root {
	
	--font-size-big: 6rem;
	--font-size-mediumbig: 3rem;
    --font-size-medium: 2rem;
    --font-size-small: 1.6rem;
    --font-size-verysmall: 1.2rem;
}


/* Page loader */

.loader {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  rgb(255, 255, 255);
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 2fr, 1fr; 

}

.loader > h1 {
	color: rgb(184, 99, 99);
	font-size: 70px;
	margin-top: 10rem;
}
.loader .loading-img {
	width: 100px;
	margin: -6.3rem auto auto auto;
}

.loader .nflix-logo {
	width: 5%;
}

.loader.hidden {
	animation: 5s fadeOut;
	animation-fill-mode: forwards;
}


@keyframes fadeOut {
	100% {
			opacity: 0;
			visibility: hidden;
	}
}

.fas {
	color: white;
}

.grow { 
    transition: all .2s ease-in-out;
    cursor: pointer;
 }
.grow:hover {
     transform: scale(1.1);
     }

.grow2 { 
    transition: right .2s ease-in-out;
	cursor: pointer;
	
 }
.grow2:hover {
     transform: scale(2.1); 
    }


/*Home*/

.navbar {
	display: flex;
	align-items: center;
}
.navbar-dark {
	background-color: none;
	align-items: center;
	display:flex;
	
}
.nlogo {
	width: 43%;
}

.noir-kids {
    color: rgb(196, 56, 56);
}


.navbar-nav {
	display: flex;
	align-items: center;
}

.navbar-nav-2 {
	display: flex;
	list-style: none;
	align-items: center;
	margin-right: 3rem;
	padding: 16px;
}

.nav-link1 {
	color: rgb(221, 37, 37) !important;
    font-size: var(--font-size-small);
    font-weight: 600;
	padding-left: -2rem;
	padding-top: 1rem;
}

.nav-link2 {
	color: rgb(19, 17, 17) !important;
	font-size: var(--font-size-small);
    margin-right: 2rem!important;
    font-weight: 600;
	padding-left: 2rem;

}

.search {
	display: flex;
	align-items: center;
}

.fa-search {
	color: black;
}
.search-text {
	font-size: var(--font-size-small);
	padding-top: 0.9rem;
	margin-left: .5rem;
	margin-right: 1rem;
	font-weight: 600;

}



.icon-profile {
	width: 40%;
	opacity: 1;
}

.switch {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	margin-right: 1rem;
	
}

.notification-bell {
	margin-right: 2rem;
}

.fa-bell {
	color: black;

}


.switch:hover,
.switch:visited,
.switch:active {
	color: white;
	text-decoration: none;
	outline: none;
}

.btn-exit {
    background: rgb(233, 20, 20);
    padding: 0.8rem;
    color: white;
    border: none;
	font-size: 13px;
	cursor: pointer;
}

.btn-exit:hover {
	background: rgb(206, 24, 24);
	color: #fff;
}
#intro {
	height: 100%;
	width: 100%;
}
.navbar.scrolled {
	background: #ffffff;
	transition: background 500ms;
	opacity: 0.95;
}

.navbar.scrolled .switch {
	color: rgb(19, 17, 17);
}

.navbar.scrolled .search {
	color: rgb(19, 17, 17)
}

 .navbar-toggler-icon {
	background-color: rgb(107, 101, 101);
}


/*Front-page*/

.content {
	position: absolute;
	top: 25%;
	left: 25%;
	transform: translate(-60%,50%);
	
}

.front-page-container {
	position: relative;
	height: 100vh!important;
	width: 100%!important;
	background: url("../imgs/yohoo.jpg");
	background-position: center;
	background-size: cover;
	padding: 10rem;
	
}


.front-page-header {
	opacity: 0.8;
	color:#fff;
	display: block;
	text-shadow: 0 2rem 3rem rgba(0,0,0,0.4);
	font-size: var(--font-size-big);

				
}

.subheader {
	text-transform: uppercase;
	font-size: var(--font-size-mediumbig);
	margin-left: 10rem;

}


.front-page__button-container {
	margin-left: 3rem;
	margin-top: 2rem;
	display: block;
}
.front-page-button {
	border-radius: 0 !important;
	width: 14rem;
	padding: 1rem;
	background: rgb(92, 83, 83, 0.4);
	border: none;
	color: #ffffff;
	font-weight: 600;
	margin: 0 1rem;
	font-size: var(--font-size-small);

}


.title1 {
text-transform: uppercase;
	margin-top: 30px;
	padding: 20px;
	opacity: 0.8;
	font-size: var(--font-size-small);

}

.title2 {
	margin-top: -25px;
	padding: 20px;
	opacity: 0.8;
	font-size: var(--font-size-mediumbig);

}

.title3 {
	margin-top: -1px;
	padding: 20px;
	opacity: 0.7;
	font-size: 15px;
}

.watch	{
	width: 100%;
}
.card-container1 {
	
	padding-top: 40px;
	margin-top: 40px;
	padding: 20px;
	margin-top: 20px; 	 	
}





.popular {
	padding: 8rem;
}

.new-releases {
	opacity: 0.8;
	padding: 0;
	margin-left: 1.4rem;
	}

#card-text {
	font-size: 2em;
}



.card-img-top {
	width: 100%;
	padding: 15px;
}

.title {
	margin-top: 40px;
	padding: 15px;

}
h1 {
	font-weight: 700;
	font-size: 5em;
}

hr	{
	width: 250px;
	border-top: 1px solid;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	max-width: 90%;
	margin-left: 0.5%;}

	.button-container {
		margin-left: 1.2rem;
	}
	.front-page-button2 {
		border-radius: 0 !important;
		background: rgba(43, 37, 37, 0.2);
		border: none;
		width: 14rem;
		padding: 2rem;
		font-size: var(--font-size-small);

	}



	.no-gutters  {
		margin: 0;
		padding: 0;
	}
	
	.container-trending1 {
		padding: 3rem;
		background: url("../imgs/trueback-dark.jpg") no-repeat center center/cover;
				
	}

	.container-trending2 {
		padding: 3rem;
		background: url("../imgs/monsterback-dark.jpg") no-repeat center center/cover;
	}

	.container-trending3 {
		padding: 3rem;
		background: url("../imgs/Kazoopsback-dark.jpg") no-repeat center center/cover;

	}
	
	.row-icons {
		text-align: center;
	}



	.icon-container {
		padding: 7rem 7rem 7rem 6rem;
		}

	.icon-front {
		width: 25%;
		opacity: 0.7;
		margin-top: 40px;
	}

	.icon-front2 {
		width: 31%;
		opacity: 0.8;
		margin-top: 40px;
	}

	.icon-front3 {
		width: 37%;
		
		opacity: 0.7;
		margin-top: 40px;
	}
	.icon-header {
		margin-top: 30px;
		margin-bottom: 18px;
		opacity: 0.8;
		font-size: var(--font-size-medium);


	}

	

	.icon-description {
		line-height: 1.5;
		opacity: 0.7;
		font-size: var(--font-size-small);

	}

	.yellow-container {
		background: #fff;
		width: 100%;
		margin-top: 25px;
		padding: 0;
		margin: 0;
	}

	.frames {
		opacity: 1;
		padding: 19px;
		margin-left: 1.4rem;
		font-size: var(--font-size-medium);
	}

	
	
		
		.img-car {
		width: 115%;
		padding: 0;
		margin: 0;
		background-size: cover;
			
	}

	.card {
		padding-left: 0;
		margin-right: 0;
		width: 100%;
	}

	col {
		padding: 0;
	}


	.continue-watching-container {
		margin: 0;
		padding: 0;
	}

	

	.row2 {
		padding-top: -10em !important;
	}
    .textWithBlurredBg{
		width:auto;
		height:auto;
		display:inline-block;
		position:relative;
		transition:.3s;
		margin:0;
	  }
	  
	  .textWithBlurredBg img{
		width:100%;
		height:100%;
		transition:.3s;
		border-radius:0;
	  }
	  
	  .textWithBlurredBg:hover img{
		cursor: pointer;
		filter: brightness(70%);
	  }
	   
	  .textWithBlurredBg :not(img){
		position:absolute;
		z-index:1;
		top:30%;
		width:100%;
		text-align:center;
		color:#fff;
		opacity:0;
		transition:.3s;
	  }
	  
	  .textWithBlurredBg h5{
		top:63%;
		font-size: 10px;
		text-align: center;
		
	  }
	  .textWithBlurredBg .btn-play{
		top:28%;
		left: 35%;
		width: 8rem;
		cursor: pointer;
		background: none;
		text-transform: uppercase;
		font-size: 14px;
		border: none;

		
	  }

	  .textWithBlurredBg .btn-play img {
		  width: 40%;

	  }

	  .textWithBlurredBg .btn-play img:hover {
		filter: brightness(100%);

	}



	
	  
	  .textWithBlurredBg:hover :not(img){
		opacity:1;
		}
		
		.footer-dark {
			background: #fff;
		}

	

		.footer-logo {
			font-size: 15px;
		}

		.footer-logo ul {
			list-style: none;
			margin-top: 1rem;
			text-align: center;
		}

		

		.nlogo-footer {
			width: 15%;
		}

		.rights li {
			font-size: 14px;
			margin-right: 13rem;
			opacity: 0.7;
		}

		.footer-content ul {
			display: flex;
			justify-content: start;
			list-style: none;

		}

		@media(max-width: 1024px) {
			.front-page-container {
				height: 50vh!important;
			}

			.content {
				margin-left: 5rem;
			}
		}
		@media(max-width: 950px) {

			.newreleases {
				padding: 1rem;
				margin: 4px;
			}

			
			.wrapper2 {
				display: grid !important;
				grid-template-columns: 1fr !important;
			}

			.wrapper2 img {
				width: 100%;
			}

			

			.icon-front {
				width: 10%;
			}
		}
		@media(max-width: 768) {

			

			
			
		}
		@media(max-width: 500px) {

			.nav-link2 {
				margin-left: -2rem;
				margin-top:2rem;

			}
			.search {
				margin-top: 1rem;

			}
			.search img {
				width: 2%;
				
			}

			.switch {
				margin-left: -20rem;
				margin-top: 1rem;
			}
			
			.btn-exit {
				margin-top:1rem;
			}
			.content {
				padding: 1rem 3rem 1rem 4rem;
				margin-top: 11rem;
			}



			.content .front-page-header {
				font-size: 30px;	
				margin: auto;			
			}

			

			.front-page-button {
				margin-top: 0.6rem;
				margin-left: 1rem;
				margin-right: 1rem;
			}
			
			.new-releases {
				text-align: center;
			}
			
			.container-trending1 {
				padding: 0;

			}

			.container-trending2 {
				padding: 0;

			}

			.container-trending3 {
				padding: 0;

			}

		.icon-container {
			padding: 2rem!important;
		}

		.icon-front {
			width: 28%;
		
		}
		}


		